
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    list-style:none;
    text-decoration: none;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mysidebar{
    width:325px;
    height:100vh;
    position:fixed;
    left:0;
    background:rgb(245, 75, 23);
    transition:all .5s ease;
    text-align:center;
}

.mysidebar-header{
    font-size:22px;
    text-align: center;
    line-height:35px;
    user-select:none;
}

.mysidebar-header-logo{
    width:150px;
    margin:auto;
    height:150px;
    margin-top:40px;
    border-radius:50%;
    color:rgb(245, 75, 23);
    background: seashell;
    font-weight:600;
}

.mysidebar-header-logo:hover{
    color: rgb(221, 92, 59);
}

.mysidebar ul li{
    display:block;
    height:100%;
    width:100%;
    line-height:50px;
    font-size:20px;
    padding-left:10px;
    box-sizing:border-box;
    border-top:1px solid rgba(255,255,255,.1);
    border-bottom:1px solid rgba(255,255,255,.1);
    transition:.4s ease;
}

.mysidebar ul li a{
    color:seashell;
}

.mysidebar ul li a:focus{
    font-weight:800;
}

.mysidebar ul li a svg{
    margin-right:7px;
}

ul li:hover{
    padding-left:30px;
    font-weight: 600;
}

.mysidebar ul{
    margin-top: 40px;
}

.mycontainer{
    position:relative;
    top:0;
    left:24%;
    width:76%;
    height: 100%;
    background:powderblue;
    padding: 15px 40px;
    margin-left:0;
}

.myjumbotron{
    background:url(images/rw-1.jpeg)  no-repeat;
    background-color: rgba(255,255,255,.7);
    background-size: cover;
    width:95%;
    margin:auto;
    height:70vh;
    text-align:center;
    border-radius: 20px;
    box-shadow:5px 5px 5px -1px #ccc,-5px -5px 5px -1px #ccc;
    padding-top: 5%;
}
.myjumbotron-text{
    font-size: 2.5rem;
    font-weight:600;
    text-transform:uppercase;
    color:rgb(245, 65, 10);
}

.myjumbotron-a{
    color:rgb(28, 228, 115);
    text-transform: capitalize;
    text-decoration: none;
    font-size:1.3rem;
    font-weight:500;
}

.myjumbotron-a:hover{
    text-decoration: underline;
    color:rgb(6, 194, 87);
}

@media (max-width:767px){
    .mysidebar{
        display:none;
    }
    .mycontainer{
        position:relative;
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }
    .myjumbotron{
        height: 40vh;
    }
}

@media (min-width:768px) and (max-width:995px){
.mysidebar{
    width:325px;
    height:100vh;
    position:fixed;
    left:0;
    background:rgb(245, 75, 23);
    transition:all .5s ease;
    text-align:center;
}

.mycontainer{
     position:relative;
    top:0;
    left:35%;
    width:65%;
    height: 100%;
    background:powderblue;
    padding: 15px 40px;
    margin-left:0;
}
}

.mywelcome-text{
    text-align:justify;
    padding:20px;
    color:seashell;
    background-color: rgb(245, 75, 23);
    border-radius:10px;
}

h2{
    text-align:center;
    text-transform: uppercase;
    font-weight:bold;
}

.mywelcome-menu{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.myfood{
    position: relative;
    display:flex;
    align-content: center;
    justify-content: center;
    width:33.3%;
    height:190px;
    padding:20px;
    box-shadow: 2px 2px 3px 2px #ddd, -2px -2px 3px 2px #ddd;
    border-radius: 10px;
}

.myfood-image{
    width: 35%;
    height:100px;
    border-radius:30%;
    justify-self: center;
}

.myfood-text{
    width:62%;
    margin-left:3%;
    overflow: hidden;
    justify-self: center;
}

.myfood-btn{
    position:absolute;
    bottom:15px;
    width:40%;
    margin:auto;
    height:35px;
    padding:10px;
    color:rgb(245, 75, 23);
    background-color:powderblue;
    border: 2px solid rgb(245, 75, 23);
    border-radius:10px;
    justify-self: center;
    outline:none;
    font-weight: 600;
}

.myfood-btn:hover{
    color:seashell;
    background-color:rgb(245, 75, 23);
    border: 2px solid rgb(245, 75, 23);
}

.myrow{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: seashell;
    padding:20px;
    border-radius:10px;
}

.myflex1, .flex2{
    font-variant: small-caps;
}

.myflex2 span{
    font-weight: bold;
}

@media (max-width:767px){
    .myfood{
        width: 100%;
    }
    .myflex1, .myflex2{
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:992px){
    .myfood{
        width: 100%;
    }
    .myflex1, .myflex2{
        width: 100%;
    }
}

footer{
    color:seashell;
    background-color: #000;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

.mycontact{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: seashell;
    padding:20px;
    border-radius:10px;
}

.mycontact-btn{
    padding:5px;
    border:2px solid black;
    border-radius: 10px;
    color:black;
    background-color: seashell;
}

@media (max-width:768px){
    .mycontact{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:768px) and (max-width:992px){
    .mycontact{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.mycontact-btn:hover{
    color:seashell;
    background-color:black;
}




